.pop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.layer {
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.1); */
  height: 100%;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-bottom: 70px;
}
