.button {
  padding: var(--sp-sm);
  min-width: 120px;
  border: none;
  border-radius: var(--br);
  background-color: var(--blue);
  color: var(--light);
  border: 2px solid transparent;
  transition: 0.2s ease all;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &:hover {
    border: 2px solid #505969;
  }
  &:active {
    border: 2px solid #5e697c;
  }
}
.spinner {
  position: absolute;
  left: 10px;
  margin-top: 2px;
}
