.newNote {
  margin-bottom: 90px;
}
.noteHolder {
  width: 280px;
  position: relative;
}
.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  button {
    position: relative;
    display: inline-block;
    border-radius: 100%;
  }
}

.addTitle {
}
