.input {
  width: 100%;
  background-color: var(--dark);
  border: 1px solid var(--gray);
  color: var(--light);
  padding: var(--sp-sm);
  outline: none;
  border-radius: var(--br);
  transition: 0.2s ease all;
  &:focus {
    border: 1px solid #979797;
  }
}
.label {
  color: var(--light);
  margin-bottom: 8px;
  transition: 0.2s ease all;
}
