.paper {
  width: 400px;
  border-radius: 10px;
  ul li {
    margin-bottom: 5px;
    display: flex;
    list-style: none;
    &:last-child {
      margin-bottom: 0;
    }
  }
  input {
    width: 100%;
  }
}
.header {
  display: flex;
  align-items: center;
  padding: 15px 20px;
}
.icon {
  margin-right: 7px;
}
.content {
  padding: 15px 20px;
  padding-bottom: 20px;
  font-weight: 300;
  font-size: 0.9rem;
}
