.item {
  cursor: pointer;
  padding: var(--sp-sm);
  transition: 0.2s ease all;
  position: relative;
  display: flex;
  justify-content: center;

  svg {
    transition: 0.2s ease all;
    color: var(--gray);
  }
  &:hover {
    .icon {
      svg {
        color: var(--light);
      }
    }
  }
}
