* {
  margin: 0;
  padding: 0;
  box-sizing: border-box !important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
  font-size: var(--fs-sm);
}
h5 {
  font-weight: 400;
  font-size: 0.9rem;
}
p {
  font-weight: 300;
  font-size: 0.9rem;
}
ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}
.nav-link {
  color: var(--dark);
  padding: 3px 3px;
}
.dropdown-menu.show {
  border-radius: 10px;
  font-size: 0.9rem;
}
