:root {
  --dark: #333;
  --gray: #636363;
  --blue: #444c59;
  --light: #fff;
  --yellow: #ffe8a5;

  --br: 8px;

  --sp-xs: 4px;
  --sp-sm: 8px;
  --sp-md: 16px;
  --sp-lg: 24px;

  --fs-sm: 14px;
}
